<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Surveys</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css"></head>
<body>
<div class="container">
    <h2 class="text-center">Update Surveys</h2>
    <form th:action="@{/updateSurvey}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:value="${survey.id}" name="id"/>
        <div class="mb-3">
            <label for="userName" class="form-label">Name</label>
            <input type="text" class="form-control" id="userName" name="userName" th:value="${survey.userName}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" th:value="${survey.email}" required>
        </div>
        <div class="mb-3">
            <label for="feedback" class="form-label">Feedback</label>
            <input type="text" class="form-control" id="feedback" name="feedback" th:value="${survey.feedback}" required>
        </div>
        <div class="mb-3">
            <label for="interests" class="form-label">Interests</label>
            <input type="text" class="form-control" id="interests" name="interests" th:value="${survey.interests}" required>
        </div>
        <div class="mb-3">
            <label for="filePath" class="form-label">Files</label>
            <input type="file" class="form-control" id="filePath" name="filePath" accept="image/*,application/pdf,.xlsx">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>
