<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tax Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
    .receipt-image {
        max-width: 300px;
        margin: auto;
        display: block;
    }
    .expense-table {
        width: 100%;
        margin: auto;
    }
    .expense-table th, .expense-table td {
        text-align: center;
        vertical-align: middle;
    }
  </style>
</head>
<body>
<div class="container">
  <h2 class="text-center">Tax Details</h2>

  <table class="table expense-table">
    <tbody>
    <tr>
      <th>Tax Date</th>
      <td th:text="${tax.taxYear}"></td>
    </tr>
    <tr>
      <th>Tax Payer Name</th>
      <td th:text="${tax.taxpayerName}"></td>
    </tr>
    <tr>
      <th>Tax Amount</th>
      <td th:text="${tax.income}"></td>
    </tr>
    <tr>
      <th>Tax Paid</th>
      <td th:text="${tax.taxPaid}"></td>
    </tr>
    <tr>
      <th>Filing Status</th>
      <td th:text="${tax.filingStatus}"></td>
    </tr>
    </tbody>
  </table>

  <div class="text-center">
    <!-- Button to edit the expense -->
    <a th:href="@{/tax/update/{id}(id=${tax.id})}" class="btn btn-secondary">Update Tax</a>
    <!-- Button to download the expense details as PDF -->
    <a th:href="@{/tax/download/{id}(id=${tax.id})}" class="btn btn-secondary">Download Tax as PDF</a>
    <a th:if="${tax.taxDocument != null}" th:href="@{/files/{fileName}(fileName=${tax.taxDocument})}" class="btn btn-primary" target="_blank">View Attachment</a>
  </div>
</div>
</body>
</html>
