<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Course List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/Images/iclogo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      Information Collector
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h2 class="text-center">Course List</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Student Name</th>
      <th>Student Id</th>
      <th>Course Name</th>
      <th>Course Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
      <td th:text="${course.studentName}"></td>
      <td th:text="${course.studentId}"></td>
      <td th:text="${course.courseName}"></td>
      <td th:text="${course.courseDescription}"></td>
      <td>
        <a th:href="@{/course/{id}(id=${course.id})}" class="btn btn-primary">View</a>
        <a th:href="@{/course/delete/{id}(id=${course.id})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
