<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        .receipt-image {
            max-width: 300px;
            margin: auto;
            display: block;
        }
        .expense-table {
            width: 100%;
            margin: auto;
        }
        .expense-table th, .expense-table td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/Images/iclogo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Information Collector
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h2 class="text-center">Course Details</h2>

    <table class="table expense-table">
        <tbody>
        <tr>
            <th>Student Name</th>
            <td th:text="${course.studentName}"></td>
        </tr>
        <tr>
            <th>Student Id</th>
            <td th:text="${course.studentId}"></td>
        </tr>
        <tr>
            <th>Course Name</th>
            <td th:text="${course.courseName}"></td>
        </tr>
        <tr>
            <th>Course Description</th>
            <td th:text="${course.courseDescription}"></td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <!-- Button to edit the expense -->
        <a th:href="@{/course/update/{id}(id=${course.id})}" class="btn btn-secondary">Update Course</a>
        <!-- Button to download the expense details as PDF -->
        <a th:href="@{/course/download/{id}(id=${course.id})}" class="btn btn-secondary">Download Course Details as PDF</a>
        <a th:if="${course.idDocument != null}" th:href="@{/files/{fileName}(fileName=${course.idDocument})}" class="btn btn-primary" target="_blank">View Attachment</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
