<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Session Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
    .receipt-image {
        max-width: 300px;
        margin: auto;
        display: block;
    }
    .expense-table {
        width: 100%;
        margin: auto;
    }
    .expense-table th, .expense-table td {
        text-align: center;
        vertical-align: middle;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/Images/iclogo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      Information Collector
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h2 class="text-center">Session Details</h2>

  <table class="table expense-table">
    <tbody>
    <tr>
      <th>Participant Name</th>
      <td th:text="${session.name}"></td>
    </tr>
    <tr>
      <th>Participant Email</th>
      <td th:text="${session.email}"></td>
    </tr>
    <tr>
      <th>Training Session Title</th>
      <td th:text="${session.title}"></td>
    </tr>
    <tr>
      <th> Date of Training </th>
      <td th:text="${session.date}"></td>
    </tr>
    <tr>
      <th> Ratings </th>
      <td th:text="${session.rating}"></td>
    </tr>
    <tr>
      <th> Comments </th>
      <td th:text="${session.comments}"></td>
    </tr>
    </tbody>
  </table>

  <div class="text-center">
    <a th:href="@{/session/update/{id}(id=${session.id})}" class="btn btn-secondary">Update Session Details</a>
    <a th:href="@{/session/download/{id}(id=${session.id})}" class="btn btn-secondary">Download Session Details as PDF</a>
    <a th:if="${session.feedbackFile != null}" th:href="@{/files/{fileName}(fileName=${session.feedbackFile})}" class="btn btn-primary" target="_blank">View Attachment</a>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
